@import "tailwindcss";

@layer base {
  html, body {
    overflow-x: hidden;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
  }

  ::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
    width: 0px;
    height: 0px;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
